<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <style>
        ul{
            list-style: none;
            margin: auto;

        }
        .header{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin-left: 40px;
            color: darkgreen;
        }
        li{
            text-align: center;
            margin: 70px;
            color: darkolivegreen;
        }
        .container{
    height: 100vh;
    display: flex;
    justify-content: center;
        }

    </style>
</head>

<body >
    <h1 style="text-align: center; margin-left: 80px;">  {{name}}</h1>
<div class="container">

    <div class="title">
  
        <div class="header">
            <h2>Movie Title</h2>
     
        </div>
        <ul>
            {% for i in queryset%}
            <li>
                {{i.title}}
                </li>
                {% endfor %}
        </ul>
     </div>
<div class="desc">
    <div class="header">
        <h2>Movie description</h2> 
        </div>
        <ul>
            {% for i in queryset%}
            <li>
                {{i.description}}
                </li>
                {% endfor %}
        </ul> 
</div>
     <div class="age">
        
     <div class="header">
        <h2>Movie age rating</h2> 
        </div>
        <ul>
            <ul>
                {% for i in queryset%}
                <li>
                    {{i.age_rating}}
                    </li>
                    {% endfor %}
            </ul>
        </ul>
     </div>
</div>
</body>
</html>